@page "/User/ChangePassword"
@layout LoginLayout
<h3>ChangePassword</h3>

<EditForm Model="model" method="post" OnValidSubmit="OnValidSubmit" FormName="login">
    <DataAnnotationsValidator/>
    <MudGrid Class="align-content-center justify-center">
        <MudItem xs="9" md="5" lg="3">
            <MudCard Class="pa-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Change Password</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudTextField T="string" Label="New Password" Class="mt-3" ShrinkLabel name="model.Password" Required="true" RequiredError="Password is required!"
                                  @bind-Value="model.Password" InputType="InputType.Password" Variant="Variant.Outlined"/>
                    <MudTextField T="string" Label="Confirm Password" Class="mt-3" ShrinkLabel name="model.ConfirmPassword" Required="true" RequiredError="Password is required!"
                                  @bind-Value="model.ConfirmPassword" InputType="InputType.Password" Variant="Variant.Outlined"/>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto mt-4" FullWidth Style="height:60px">Login</MudButton>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>

</EditForm>

@code {
    [SupplyParameterFromForm] private ChangePassDTO model { get; } = new();

    private async Task OnValidSubmit()
    {
    }

}