<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="preload" href="./_framework/blazor.boot.json" as="fetch" crossorigin="use-credentials">
    <link rel="prefetch" href="./_framework/dotnet.native.js" as="fetch" crossorigin="anonymous">
    <link rel="prefetch" href="./_framework/dotnet.runtime.js" as="fetch" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="/css/Layout/_mainlayout.css" rel="stylesheet"/>
    <link href="/css/Layout/preload.css" rel="stylesheet"/>
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    <link href="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css" integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww" crossorigin="anonymous">
    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.js" integrity="sha384-hIoBPJpTUs74ddyc4bFZSM1TVlQDA60VBbJS0oA934VSz82sBx1X7kSx2ATBDIyd" crossorigin="anonymous"></script>
    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>
    <script src="https://unpkg.com/quill-image-compress@1.2.11/dist/quill.imageCompressor.min.js"></script>

    <link rel="icon" type="image/png" href="favicon.png"/>

    <HeadOutlet @rendermode="PageRenderMode"/>
</head>

<body>

<div id="preload">
    <style>
        .loading-progress {
            position: relative;
            display: block;
            width: 8rem;
            height: 8rem;
            margin: 20vh auto 1rem auto;
        }

        .loading-progress circle {
            fill: none;
            stroke: #e0e0e0;
            stroke-width: 0.6rem;
            transform-origin: 50% 50%;
            transform: rotate(-90deg);
        }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray:
                calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8),
                500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

        .loading-progress-text {
            position: relative;
            text-align: center;
            font-weight: bold;
            top: -90px;
        }

        .loading-progress-text:after {
            content: var(--blazor-load-percentage-text, "Loading");
        }

        code {
            color: #c02d76;
        }
    </style>
    <div style="height:100%;width:100%;margin:0;position:fixed;">
        <div class="mud-wasm"></div>
        <div class="mud-wasm" style="animation-direction:alternate-reverse;animation-duration:4s;"></div>
        <div class="mud-wasm" style="animation-duration:5s;"></div>
        <div class="mud-wasm-cont ">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="256px" height="256px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
                <g>
                    <g>
                        <g>
                            <g>
                                <path fill="#fff" d="M98.73,128H6.656c-1.947,0-3.531-1.578-3.531-3.518v-37.56c0-1.939,1.584-3.517,3.531-3.517H98.73
					c1.947,0,3.531,1.577,3.531,3.517v37.56C102.262,126.422,100.678,128,98.73,128z M7.121,124.004h91.145V87.402H7.121V124.004z"/>
                            </g>
                            <g>
                                <g>
                                    <g>
                                        <rect x="12.869" y="93.76" fill="#fff" width="7.217" height="3.996"/>
                                    </g>
                                    <g>
                                        <rect x="24.942" y="93.76" fill="#fff" width="7.216" height="3.996"/>
                                    </g>
                                    <g>
                                        <rect x="37.015" y="93.76" fill="#fff" width="7.214" height="3.996"/>
                                    </g>
                                    <g>
                                        <rect x="49.086" y="93.76" fill="#fff" width="7.215" height="3.996"/>
                                    </g>
                                    <g>
                                        <rect x="61.16" y="93.76" fill="#fff" width="7.214" height="3.996"/>
                                    </g>
                                    <g>
                                        <rect x="73.233" y="93.76" fill="#fff" width="7.212" height="3.996"/>
                                    </g>
                                    <g>
                                        <rect x="85.303" y="93.76" fill="#fff" width="7.215" height="3.996"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="12.869" y="103.706" fill="#fff" width="7.217" height="3.996"/>
                                    </g>
                                    <g>
                                        <rect x="24.942" y="103.706" fill="#fff" width="7.216" height="3.996"/>
                                    </g>
                                    <g>
                                        <rect x="37.015" y="103.706" fill="#fff" width="7.214" height="3.996"/>
                                    </g>
                                    <g>
                                        <rect x="49.086" y="103.706" fill="#fff" width="7.215" height="3.996"/>
                                    </g>
                                    <g>
                                        <rect x="61.16" y="103.706" fill="#fff" width="7.214" height="3.996"/>
                                    </g>
                                    <g>
                                        <rect x="73.233" y="103.706" fill="#fff" width="7.212" height="3.996"/>
                                    </g>
                                    <g>
                                        <rect x="85.303" y="103.706" fill="#fff" width="7.215" height="3.996"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="12.869" y="113.65" fill="#fff" width="7.217" height="3.995"/>
                                    </g>
                                    <g>
                                        <rect x="24.942" y="113.65" fill="#fff" width="7.216" height="3.995"/>
                                    </g>
                                    <g>
                                        <rect x="37.015" y="113.65" fill="#fff" width="43.542" height="3.995"/>
                                    </g>
                                    <g>
                                        <rect x="85.303" y="113.65" fill="#fff" width="7.215" height="3.995"/>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="33.802" y="40.657" fill="#fff" width="1.969" height="3.996"/>
                        </g>
                        <g>
                            <path fill="#fff" d="M47.29,72.502h-3.885v-3.995h3.885V72.502z M39.519,72.502h-3.885v-3.995h3.885V72.502z M31.749,72.502
				h-3.885v-3.995h3.885V72.502z M23.978,72.502h-0.278c-1.381-0.001-2.75-0.175-4.069-0.518l1.004-3.867
				c0.993,0.258,2.025,0.389,3.067,0.39h0.277V72.502z M15.542,70.293c-1.276-0.748-2.443-1.67-3.469-2.739l2.884-2.767
				c0.771,0.804,1.648,1.497,2.607,2.061L15.542,70.293z M9.482,63.965c-0.695-1.316-1.199-2.72-1.5-4.172l3.913-0.809
				c0.224,1.084,0.601,2.132,1.12,3.115L9.482,63.965z M11.685,55.675l-3.984-0.301c0.112-1.483,0.432-2.94,0.951-4.33l3.743,1.398
				C12.007,53.48,11.769,54.567,11.685,55.675z M13.977,49.533l-3.209-2.379c0.881-1.189,1.924-2.251,3.098-3.156l2.44,3.165
				C15.423,47.841,14.639,48.64,13.977,49.533z M19.189,45.515l-1.482-3.71c1.372-0.549,2.816-0.905,4.292-1.06l0.416,3.974
				C21.306,44.835,20.221,45.104,19.189,45.515z M29.975,44.653h-3.885v-3.996h3.885V44.653z"/>
                        </g>
                        <g>
                            <rect x="50.058" y="68.507" fill="#fff" width="1.968" height="3.995"/>
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="51.709" y="68.507" fill="#fff" width="1.969" height="3.995"/>
                        </g>
                        <g>
                            <path fill="#fff" d="M108.3,97.042h-3.913v-3.996h3.913V97.042z M112.477,96.907l-0.538-3.959
				c1.088-0.148,2.139-0.466,3.124-0.944l1.746,3.594C115.441,96.263,113.984,96.702,112.477,96.907z M120.514,93.011l-2.771-2.88
				c0.791-0.762,1.452-1.638,1.962-2.604l3.533,1.865C122.529,90.735,121.613,91.952,120.514,93.011z M124.686,85.095l-3.942-0.651
				c0.091-0.547,0.137-1.108,0.137-1.669c0-0.531-0.042-1.066-0.124-1.592l3.948-0.615c0.113,0.728,0.171,1.471,0.171,2.207
				C124.875,83.553,124.812,84.333,124.686,85.095z M119.743,78.092c-0.502-0.97-1.156-1.852-1.942-2.621l2.796-2.854
				c1.09,1.066,1.996,2.291,2.693,3.638L119.743,78.092z M115.136,73.579c-0.981-0.485-2.03-0.812-3.119-0.969l0.569-3.954
				c1.508,0.217,2.964,0.669,4.323,1.343L115.136,73.579z M108.396,72.502h-3.913v-3.995h3.913V72.502z M100.57,72.502h-3.912
				v-3.995h3.912V72.502z M92.746,72.502h-3.913v-3.995h3.913V72.502z M84.92,72.502h-3.912v-3.995h3.912V72.502z M77.095,72.502
				h-3.912v-3.995h3.912V72.502z M69.27,72.502h-3.913v-3.995h3.913V72.502z M61.445,72.502h-3.913v-3.995h3.913V72.502z"/>
                        </g>
                        <g>
                            <rect x="99.98" y="93.047" fill="#fff" width="1.969" height="3.996"/>
                        </g>
                    </g>
                    <g>
                        <g>
                            <g>
                                <path fill="#fff" d="M63.016,60.984c-0.132,0-0.266-0.013-0.399-0.04c-5.228-1.066-10.788-2.965-16.995-5.809
					c-9.541-4.364-13.123-8.219-13.216-14.222c-0.022-2.34-0.045-3.591-0.068-4.836c-0.022-1.269-0.045-2.531-0.068-4.904
					l3.996-0.038c0.022,2.357,0.045,3.61,0.068,4.87c0.023,1.253,0.046,2.514,0.069,4.858c0.046,2.999,0.914,6.079,10.883,10.639
					c4.955,2.269,9.453,3.904,13.673,4.966l-0.339-14.181l3.994-0.096l0.401,16.747c0.015,0.608-0.249,1.19-0.715,1.58
					C63.936,60.821,63.48,60.984,63.016,60.984z"/>
                            </g>
                            <g>
                                <path fill="#fff" d="M62.979,60.983c-0.442,0-0.875-0.147-1.23-0.424c-0.472-0.368-0.753-0.929-0.767-1.527l-0.397-16.747
					l3.994-0.095l0.339,14.256c4.218-1.142,8.706-2.869,13.645-5.245c1.981-0.952,3.62-1.843,5.011-2.724l2.138,3.375
					c-1.522,0.965-3.295,1.93-5.417,2.95c-6.151,2.96-11.673,4.966-16.877,6.131C63.271,60.967,63.125,60.983,62.979,60.983z"/>
                            </g>
                        </g>
                        <g>
                            <path fill="#fff" d="M62.859,45.125L3.667,23.129L62.422,0l59.194,22.002L62.859,45.125z M14.849,23.022l47.969,17.826
				l47.618-18.739L62.463,4.277L14.849,23.022z"/>
                        </g>
                        <g>
                            <polygon fill="#fff" points="93.268,48.032 93.15,31.566 67.531,21.398 69.004,17.685 97.127,28.845 97.263,48.004 			"/>
                        </g>
                        <g>
                            <path fill="#fff" d="M62.547,22.096c-4.472,0-7.737-2.045-7.765-4.862c-0.01-0.997,0.396-1.943,1.176-2.737
				c1.367-1.394,3.842-2.24,6.622-2.265l0.134,0c4.466,0,7.729,2.041,7.756,4.854c0.027,2.855-3.252,4.963-7.797,5.01L62.547,22.096
				z M58.913,17.195c0.464,0.362,1.731,0.905,3.634,0.905l0.088,0c1.949-0.02,3.238-0.596,3.703-0.973
				c-0.464-0.36-1.729-0.9-3.624-0.9C60.683,16.245,59.381,16.819,58.913,17.195z"/>
                        </g>
                        <g>
                            <path fill="#fff" d="M102.232,64.612H88.954V53.13c0-4.091,2.978-7.42,6.638-7.42c3.661,0,6.641,3.329,6.641,7.42V64.612z
				 M92.949,60.617h5.287V53.13c0-1.856-1.21-3.424-2.645-3.424c-1.432,0-2.643,1.568-2.643,3.424V60.617z"/>
                        </g>
                    </g>
                </g>
            </svg>
            <svg class="loading-progress">
                <circle r="40%" cx="50%" cy="50%"/>
                <circle r="40%" cx="50%" cy="50%"/>
            </svg>
            <div class="loading-progress-text"></div>
        </div>
    </div>
</div>

<Routes @rendermode="PageRenderMode"/>
<script src="_framework/blazor.web.js"></script>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
<script src="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.js"></script>
<script src="/js/FileHandler.js"></script>
</body>

</html>

@code {
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? PageRenderMode
    {
        get
        {
            if (HttpContext.AcceptsInteractiveRouting())
            {
                if (HttpContext.Request.Path.StartsWithSegments("/userclient"))
                {
                    return InteractiveServer;
                }
                else if (HttpContext.Request.Path.StartsWithSegments("/exam"))
                {
                    return InteractiveWebAssembly;
                }
                else
                {
                    return InteractiveAuto;
                }
            }
            else
            {
                return null;
            }
        }
    }

}